* {
  text-align: center;
}

h1 {
  font-size: 75px;
  color: red;
  font-family: 'Allerta Stencil', sans-serif;
  border: solid 5px red;
  padding: 20px;
  margin: 10% 25%;
}

body {
  display: inline;
  background-color: black;
  color: rgb(47, 199, 39);
  font-family: 'Audiowide', cursive;
  font-size: 30px;
}

/*
Reference to my Google Fonts that are linked:
font-family: 'Rajdhani', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Allerta Stencil', sans-serif;
*/
