* {
  text-align: center;
}

body {
  background-color: black;
  color: rgb(47, 199, 39);
  font-family: 'Audiowide', cursive;
}

/*
Reference to my Google Fonts that are linked:
font-family: 'Rajdhani', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Allerta Stencil', sans-serif;
*/
